.header {
  height: 100px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
}
.footer {
  height: 100px;
  background-color: grey;
}

.main {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
}
